* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-cont {
  background-color: #f5d0fe;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
}
.card {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
}

.text-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.user-input {
  border: #cbd2d9 1px solid;
  color: #323f4b;
  border-radius: 7px;
  font-size: 15px;
  padding: 5px;
  outline: none;
}
.btn {
  background-color: #d946ef;
  color: #ffffff;
  font-size: 14px;
  border: 0;
  outline: none;
  cursor: pointer;
  border-radius: 7px;
  padding: 5px;
}
.para {
  color: #323f4b;
  margin: 0;
}
